<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043699528421-poh2t3grtb9u7upcjupe2djkjmolqch8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043699528421-poh2t3grtb9u7upcjupe2djkjmolqch8</string>
	<key>API_KEY</key>
	<string>AIzaSyC9r2iLlRybSpDzyWnlmU9LmnIDQXBoge8</string>
	<key>GCM_SENDER_ID</key>
	<string>1043699528421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.language.wordoftheday</string>
	<key>PROJECT_ID</key>
	<string>web1-d1df7</string>
	<key>STORAGE_BUCKET</key>
	<string>web1-d1df7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043699528421:ios:a0263c6ebd30a92f8e5a0c</string>
</dict>
</plist>